.App {
  text-align: center;
}

.banner {
  height : 24vw;
  width: 100%;
  object-fit: cover;
}

#shopppingCarousel {
  height: 24vw;
}

.product-card {
  width : 250px;
}

.product-thumbnail {
  height: 270px;
  width : 250px;
  object-fit: cover;
}
